<div class="inner-content">
  <div class="con">
    <div class="left">图片</div>
    <div class="right">
      <div class="clearfix">
        <nz-upload
          nzAction="{{uploadServeName}}"
          nzName="img"
          nzListType="picture-card"
          (nzChange)="uploadChange($event)"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 1"
          [nzShowUploadList]="showUploadList"
          [nzPreview]="handlePreview"
        >
          <i nz-icon nzType="plus"></i>
          <div class="ant-upload-text">上传</div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
    </div>
  </div>
  <div class="con">
    <div class="left">备注</div>
    <div class="right">
    <textarea
      nz-input
      placeholder="备注..."
      [(ngModel)]="remark"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
    ></textarea>
    </div>
  </div>
  <div class="con">
    <div class="left">链接地址</div>
    <div class="right">
      <input nz-input placeholder="请输入链接地址" [(ngModel)]="turnUrl" />
    </div>
  </div>
  <div class="con">
    <div class="left">图片类型</div>
    <div class="right">
      <nz-select style="width: 120px;"  [(ngModel)]="type" nzAllowClear nzPlaceHolder="请选择分类">
        <nz-option  nzValue="1" nzLabel="轮播图"></nz-option>
        <nz-option  nzValue="2" nzLabel="广告"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="con">
    <div style="margin-top: 40px;float: right;margin-bottom: 50px;">
      <button nz-button nzType="primary"  (click)="edit()" >更新</button>
    </div>
  </div>
  <div style="clear: both;"></div>

</div>


