<div class="inner-content">
  <div class="con">
    <span style="color: red;margin-left: 20%;">职位分类,不选则默认是之前的分类</span>
  </div>
  <div class="con">
    <div class="left">
      职位分类
    </div>
    <div class="right">
      <nz-tree-select
        style="width: 250px"
        [nzNodes]="nodes"
        nzPlaceHolder="选择分类"
        [nzShowLine]=true
        [(ngModel)]="pid"
        (ngModelChange)="onChange($event)"
      >
      </nz-tree-select>
    </div>
  </div>
  <div class="con">
    <div class="left">分类名字</div>
    <div class="right">
      <input style="width: 250px;" nz-input [(ngModel)]="name"/>
    </div>
  </div>
  <div class="con">
    <div style="margin-top: 20px;margin-left: 250px;">
      <button nz-button nzType="primary" (click)="editCate()">编辑</button>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>



