.left{
  padding-right: 10px;
  float: left;
  /*border: 1px solid darkgrey;*/
  width: 20%;
  height: 34px;
  text-align: right;
  line-height: 34px;
}

.right{
  float: left;
  /*border: 1px solid green;*/
  width: 80%;

}
.con{
  margin-top: 22px;
  float: left;
  /*border: 1px solid orangered;*/
  width: 100%;
}
