<div class="inner-content">
<button style="margin-bottom: 25px;float: left;" nz-button nzType="primary" routerLink="/home/slideM/add-slide">添加轮播图</button>
  <div style="margin-left: 40px;float: left;line-height: 32px;height: 32px;">
    <span style="color: #1890FF;">查看：</span>
  </div>
  <nz-select
    style="width: 200px;margin-left: 10px;float: left;"
    nzPlaceHolder="选择图片类型"
    [(ngModel)]="selectedSlideId"
    (ngModelChange) = "getAdsOrSlide($event)"
  >
    <nz-option  nzLabel="轮播图" [nzValue]="1"></nz-option>
    <nz-option  nzLabel="广告图" [nzValue]="2"></nz-option>
  </nz-select>

  <div style="clear: both;"></div>


  <nz-table #basicTable [nzData]="listOfData"
          nzShowPagination='false'
>
  <thead>
  <tr>
    <th>id</th>
    <th>缩略图</th>
    <th>备注</th>
    <th>跳转连接</th>
    <th>类型</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td><img style="width: 100px;height: 50px;" src="{{serverName}}{{data.imgUrl}}" alt=""></td>
    <td>{{ data.remark }}</td>
    <td>{{ data.turnUrl }}</td>
    <td *ngIf="data.type == 1"><span style="color: red;">轮播图</span></td>
    <td *ngIf="data.type == 2"><span style="color: blue;">广告图</span></td>
    <td>
      <button nz-button nzType="primary" routerLink="/home/slideM/edit-slide" [queryParams]="{slideId:data.id}">编辑</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" (click)="delSlide(data.id)">删除</button>
    </td>
  </tr>
  </tbody>

</nz-table>
</div>
