<div class="inner-content">
<button style="margin-bottom: 25px" nz-button nzType="primary" routerLink="/home/slideM/add-slide">添加轮播图</button>

<nz-table #basicTable [nzData]="listOfData"
          nzShowPagination='false'
>
  <thead>
  <tr>
    <th>id</th>
    <th>缩略图</th>
    <th>备注</th>
    <th>跳转连接</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td><img style="width: 100px;height: 50px;" src="{{serverName}}{{data.imgUrl}}" alt=""></td>
    <td>{{ data.remark }}</td>
    <td>{{ data.turnUrl }}</td>
    <td>
      <button nz-button nzType="primary" routerLink="/home/slideM/edit-slide" [queryParams]="{slideId:data.id}">编辑</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" (click)="delSlide(data.id)">删除</button>
    </td>
  </tr>
  </tbody>

</nz-table>
</div>
