<div class="inner-content">
<button style="margin-bottom: 25px" nz-button nzType="primary" routerLink="/home/positionM/add-position">添加职位</button>

<nz-table #basicTable [nzData]="listOfData"
          nzShowPagination='false'
>
  <thead>
  <tr>
<!--    <th>岗位id</th>-->
    <th>职位</th>
    <th>岗位类型</th>
    <th>公司名称</th>
    <th>薪资</th>
    <th>投递数量</th>
<!--    <th>退役军人优先</th>-->
<!--    <th>展示</th>-->
    <th>发布时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
<!--    <td>{{ data.id }}</td>-->
    <td>{{ data.name }}</td>
    <td>{{ data.positionCateName }}</td>
    <td>{{ data.companyName }}</td>
    <td>{{ data.pay }}</td>
    <td>{{ data.applyCount }}</td>
<!--    <td *ngIf="data.isSoldierPriority ==1"><span style="color: #1890FF">是</span></td>-->
<!--    <td *ngIf="data.isSoldierPriority ==0"><span style="color:#F52287;">否</span></td>-->
<!--    <td *ngIf="data.isShow == 1"><span style="color: #1890FF">是</span></td>-->
<!--    <td *ngIf="data.isShow == 0"><span style="color: #F52287;">否</span></td>-->
    <td>{{ data.createTime }}</td>
    <td>
      <button nz-button nzType="default" (click)="showResumeModal(data.id)">简历管理</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="primary" routerLink="/home/positionM/edit-position" [queryParams]="{positionId:data.id}">编辑</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button nzType="danger" (click)="delPosition(data.id)">删除</button>
    </td>
  </tr>
  </tbody>

</nz-table>

<nz-pagination style="float: right;margin-top: 10px;" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="pageTotal"
               (nzPageIndexChange)="getByPage()"></nz-pagination>
  <div style="clear: both;"></div>
</div>


<nz-modal [(nzVisible)]="isVisible"
          nzTitle="职位申请记录"
          nzWidth="80%"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <nz-table #resumeTable [nzData]="listOfDataA"
            nzShowPagination='false'
  >
    <thead>
    <tr>
      <th>id</th>
      <th>姓名</th>
      <th>手机</th>
      <th>性别</th>
      <th>年龄</th>
      <th>工作年限</th>
      <th>教育经历</th>
      <th>期望薪资</th>
      <th>技能描述</th>
      <th>自我评价</th>
      <th>投递时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of resumeTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.workYear }}</td>
      <td>{{ data.education }}</td>
      <td>{{ data.salary }}</td>
      <td>{{ data.skills }}</td>
      <td>{{ data.selfEvaluation }}</td>
      <td>{{ data.createTime }}</td>
    </tr>
    </tbody>

  </nz-table>

  <div style="margin-top: 25px"></div>
  <nz-pagination style="float: right;" [(nzPageIndex)]="pageIndexA" [(nzPageSize)]="pageSizeA" [nzTotal]="pageTotalA"
                 (nzPageIndexChange)="getResumePageByPositionId()"></nz-pagination>
  <div style="clear:both"></div>

</nz-modal>
