<div class="inner-content">
  <button style="margin-bottom: 25px;float: left;" nz-button nzType="primary" routerLink="/home/companyM/add-company">添加公司</button>

  <div  style="float: left;width: 200px;margin-left: 300px;">
    <nz-input-group nzSize="default" [nzSuffix]="suffixIcon">
      <input
        placeholder="输入地区"
        nz-input
        [(ngModel)]="areaInfo"
        (ngModelChange)="areaInfoChange($event)"
        [nzAutocomplete]="autoArea"
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <nz-autocomplete #autoArea [nzDataSource]="areaInfoData"></nz-autocomplete>
  </div>

  <div  style="float: left;width: 200px;margin-left: 300px;">
    <nz-input-group nzSize="default" [nzSuffix]="suffixIcon">
      <input
        placeholder="输入行业分类"
        nz-input
        [(ngModel)]="industryInfo"
        (ngModelChange)="industryInfoChange($event)"
        [nzAutocomplete]="autoIndustry"
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <nz-autocomplete #autoIndustry [nzDataSource]="industryInfoData"></nz-autocomplete>
  </div>


  <div style="clear: both;"></div>

  <nz-table #basicTable [nzData]="listOfData"
            nzShowPagination='false'
  >
    <thead>
    <tr>
<!--      <th>公司id</th>-->
      <th>行业分类</th>
      <th>公司名字</th>
<!--      <th>公司地址</th>-->
<!--      <th>公司电话</th>-->
<!--      <th>公司性质</th>-->
      <th>省</th>
      <th>市</th>
      <th>区</th>
      <th>职位数量</th>
      <th>发布时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
<!--      <td>{{ data.id }}</td>-->
      <td>{{data.industryName}}</td>
      <td>{{ data.name }}</td>
<!--      <td>{{ data.address }}</td>-->
<!--      <td>{{ data.phone }}</td>-->
<!--      <td>{{ data.nature }}</td>-->
      <td>{{data.province}}</td>
      <td>{{data.city}}</td>
      <td>{{data.area}}</td>
      <td>{{ data.positionCount }}</td>
      <td>{{ data.createTime }}</td>
      <td>
        <button nz-button nzType="default" routerLink="/home/companyM/position-page"
                [queryParams]="{companyId:data.id}">职位管理
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" routerLink="/home/companyM/edit-company" [queryParams]="{companyId:data.id}">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" (click)="delCompany(data.id)">删除</button>
      </td>
    </tr>
    </tbody>

  </nz-table>

  <nz-pagination *ngIf="show == 'normal'" style="float: right;margin-top: 10px;" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
                 [nzTotal]="pageTotal"
                 (nzPageIndexChange)="getByPage()"></nz-pagination>
  <nz-pagination *ngIf="show == 'filter'" style="float: right;margin-top: 10px;" [(nzPageIndex)]="pageIndexA" [(nzPageSize)]="pageSizeA"
                 [nzTotal]="pageTotalA"
                 (nzPageIndexChange)="filterCompany()"></nz-pagination>
  <div style="clear: both;"></div>
</div>
