<button style="margin-bottom: 25px" nz-button>添加公司</button>

<nz-table #basicTable [nzData]="listOfData"
          nzShowPagination='false'
>
  <thead>
  <tr>
    <th>公司id</th>
    <th>公司名字</th>
    <th>公司地址</th>
    <th>公司电话</th>
    <th>公司性质</th>
    <th>职位数量</th>
    <th>发布时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.address }}</td>
    <td>{{ data.phone }}</td>
    <td>{{ data.nature }}</td>
    <td>{{ data.positionCount }}</td>
    <td>{{ data.createTime }}</td>
    <td>
      <a>职位管理</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>删除</a>
    </td>
  </tr>
  </tbody>

</nz-table>
<div style="margin-top: 25px"></div>
<nz-pagination style="float: right;" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="pageTotal"
               (nzPageIndexChange)="getByPage()"></nz-pagination>
