<button style="margin-bottom: 25px" nz-button nzType="primary" routerLink="/home/cateM/add-cate">添加分类</button>
<nz-table #expandTable [nzData]="listOfMapData">
  <thead>
  <tr>
    <th nzWidth="40%">名字</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level * 20"
          [nzShowExpand]="!!item.son"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
        >
          {{ item.name }}
        </td>
        <td>
          <button nz-button nzType="primary">编辑</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="danger" (click)="delCate(item.id)">删除</button>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
