<div class="inner-content">
<nz-table #basicTable [nzData]="listOfData"
          nzShowPagination='false'
>
  <thead>
  <tr>
    <th>id</th>
    <th>姓名</th>
    <th>手机</th>
    <th>性别</th>
    <th>年龄</th>
    <th>工作年限</th>
    <th>教育经历</th>
    <th>期望薪资</th>
<!--    <th>技能描述</th>-->
<!--    <th>自我评价</th>-->
<!--    <th>入伍时间</th>-->
<!--    <th>服役时长</th>-->
<!--    <th>兵种</th>-->
    <th>创建时间</th>
    <th>最近一次登录时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.phone }}</td>
    <td *ngIf="data.gender == 1">男</td>
    <td *ngIf="data.gender == 2">女</td>
    <td *ngIf="data.gender == 0">未知</td>
    <td>{{ data.age }}</td>
    <td>{{ data.workYear }}</td>
    <td>{{ data.education }}</td>
    <td>{{ data.salary }}</td>
<!--    <td>{{ data.skills }}</td>-->
<!--    <td>{{ data.selfEvaluation }}</td>-->
<!--    <td>{{ data.militaryTime }}</td>-->
<!--    <td>{{ data.attendedTime }}</td>-->
<!--    <td>{{ data.corps }}</td>-->
    <td>{{ data.createTime }}</td>
    <td>{{ data.updateTime }}</td>
    <td>
      <button nz-button nzType="link" (click)="showApplyModal(data.id)">投递记录</button>
    </td>
  </tr>
  </tbody>

</nz-table>
<div style="margin-top: 25px"></div>
<nz-pagination style="float: right;" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="pageTotal"
               (nzPageIndexChange)="getByPage()"></nz-pagination>
  <div style="clear:both"></div>
</div>

<!-- 投递记录弹出框-->
<nz-modal [(nzVisible)]="isVisible"
          nzTitle="投递记录"
          nzWidth= "70%"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-table #applyTable [nzData]="listOfDataA"
            nzShowPagination='false'
  >
    <thead>
    <tr>
      <th>记录id</th>
      <th>职位</th>
      <th>岗位类型</th>
      <th>公司名称</th>
      <th>薪资</th>
      <th>投递数量</th>
      <th>发布时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of applyTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.positionCateName }}</td>
      <td>{{ data.companyName }}</td>
      <td>{{ data.pay }}</td>
      <td>{{ data.applyCount }}</td>
      <td>{{ data.createTime }}</td>
    </tr>
    </tbody>

  </nz-table>
  <nz-pagination style="float: right;margin-top: 10px;" [(nzPageIndex)]="pageIndexA" [(nzPageSize)]="pageSizeA" [nzTotal]="pageTotalA"
                 (nzPageIndexChange)="getResumeApplyPage()"></nz-pagination>
  <div style="clear: both;"></div>
</nz-modal>
