<div style="width: 100%;background-color: #FFFFFF">
  <div class="con">
    <div class="left">职位分类</div>
    <div class="right">
      <nz-tree-select
        style="width: 200px;"
        [nzNodes]="nodes"
        [nzDropdownMatchSelectWidth]="true"
        [nzDropdownStyle]="{ 'max-height': '400px','width':'400px' }"
        [(ngModel)]="positionCateId"
        (ngModelChange)="onChange($event)"
        [nzAllowClear]="false"
        nzPlaceHolder="选择职位类别"
      >
      </nz-tree-select>
    </div>
  </div>

  <div class="con">
    <div class="left">职位名字</div>
    <div class="right" >
      <input style="width: 200px;" nz-input  [(ngModel)]="name" />
    </div>
  </div>

  <div class="con">
    <div class="left">公司</div>
    <div class="right">
      <nz-select
        style="width: 200px;"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="请选择公司"
        [(ngModel)]="companyId"
      >
        <nz-option *ngFor="let company of companyList" nzValue="{{company.id}}" nzLabel="{{company.name}}"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="con">
    <div class="left">薪资</div>
    <div class="right">
      <nz-input-number [(ngModel)]="minPay" [nzMin]="0" ></nz-input-number>
      <i nz-icon nzType="minus" style="width: 20px;" nzTheme="outline"></i>
      <nz-input-number [(ngModel)]="maxPay" [nzMin]="0" ></nz-input-number>
      <span style="color:red;margin-left: 15px;">( 最低 - 最高 )</span>
    </div>
  </div>

  <div class="con">
    <div class="left">工作年限</div>
    <div class="right" >
      <input nz-input  style="width: 90px;" [(ngModel)]="minWorkExp"  />
      <i nz-icon nzType="minus" style="width: 20px;" nzTheme="outline"></i>
      <input nz-input  style="width: 90px;"  [(ngModel)]="maxWorkExp" />
      <span style="color:red;margin-left: 15px;">( 最低 - 最高 )</span>
    </div>
  </div>


  <div class="con">
    <div class="left">学历</div>
    <div class="right">
      <nz-select  style="width: 200px;" [(ngModel)]="education"  nzPlaceHolder="请选择">
        <nz-option nzValue="不限" nzLabel="不限"></nz-option>
        <nz-option nzValue="初中及以下" nzLabel="初中及以下"></nz-option>
        <nz-option nzValue="高中" nzLabel="高中"></nz-option>
        <nz-option nzValue="专科" nzLabel="专科"></nz-option>
        <nz-option nzValue="本科" nzLabel="本科"></nz-option>
        <nz-option nzValue="研究生" nzLabel="研究生"></nz-option>
        <nz-option nzValue="硕士" nzLabel="硕士"></nz-option>
        <nz-option nzValue="博士" nzLabel="博士"></nz-option>
        <nz-option nzValue="博士后" nzLabel="博士后"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="con">
    <div class="left">年龄</div>
    <div class="right">
      <nz-input-group nzSize="default" style="width: 200px;">
        <input
          placeholder="输入年龄"
          nz-input
          [(ngModel)]="age"
          [nzAutocomplete]="autoArea"
        />
      </nz-input-group>
      <nz-autocomplete #autoArea [nzDataSource]="agesData"></nz-autocomplete>
    </div>
  </div>

  <div class="con">
    <div class="left">招聘数量</div>
    <div class="right">
      <input style="width: 200px;" nz-input  [(ngModel)]="num" />
    </div>
  </div>

  <div class="con">
    <div class="left">标签</div>
    <div class="right">
      <nz-tag
        *ngFor="let label of labels"
        nzMode="checkable"
        [nzChecked]="selectedTags.indexOf(label) > -1"
        (nzCheckedChange)="handleChange($event, label.name)"
      >
        {{ label.name }}
      </nz-tag>
    </div>
  </div>

  <div class="con">
    <div class="left">军人优先</div>
    <div class="right" >
      <nz-select style="width: 200px;"  [(ngModel)]="isSoldierPriority"  nzPlaceHolder="请选择">
        <nz-option nzValue="1" nzLabel="是"></nz-option>
        <nz-option nzValue="0" nzLabel="否"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="con" style="height: 400px;">
    <div class="left">岗位职责</div>
    <div class="right">
      <ngx-neditor style="width: 100%;height: 300px;" [(ngModel)]="positionRequirement" #neditor [config]="neditorConfig"></ngx-neditor>
    </div>
  </div>

  <div class="con">
    <div class="left">展示状态</div>
    <div class="right">
      <nz-select  style="width: 200px;" [(ngModel)]="isShow"  nzPlaceHolder="请选择">
        <nz-option nzValue="1" nzLabel="展示"></nz-option>
        <nz-option nzValue="0" nzLabel="不展示"></nz-option>
      </nz-select>
    </div>
  </div>
  <div style="margin-top: 40px;float: right;margin-bottom: 50px;">
    <button nz-button nzType="primary"  (click)="addPosition()" >添加</button>
  </div>
  <div style="clear: both;"></div>


</div>



