<!--<div class="inner-content">-->
<!--  <div class="con">-->
<!--    <div class="left">证件号码</div>-->
<!--    <div class="right">-->
<!--      <input  nz-input  [(ngModel)]="idCard" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">手机号</div>-->
<!--    <div class="right">-->
<!--      <input  nz-input  [(ngModel)]="phone" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">名字</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="name" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">性别</div>-->
<!--    <div class="right">-->
<!--      <nz-select-->
<!--        style="width: 200px;"-->
<!--        nzShowSearch-->
<!--        nzAllowClear-->
<!--        nzPlaceHolder="性别"-->
<!--        [(ngModel)]="sex"-->
<!--      >-->
<!--        <nz-option nzLabel="男" nzValue="1"></nz-option>-->
<!--        <nz-option nzLabel="女" nzValue="0"></nz-option>-->
<!--        <nz-option nzLabel="未知" nzValue="-1"></nz-option>-->
<!--      </nz-select>-->
<!--&lt;!&ndash;      <input nz-input  [(ngModel)]="sex" />&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="con">-->
<!--    <div class="left">出生年</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="birthYear" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">出生日期</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="birth" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">学校</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="school" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">学历</div>-->
<!--    <div class="right">-->
<!--      <nz-select-->
<!--        style="width: 200px;"-->
<!--        nzShowSearch-->
<!--        nzAllowClear-->
<!--        nzPlaceHolder="学历"-->
<!--        [(ngModel)]="educationName"-->
<!--      >-->
<!--        <nz-option nzLabel="高中及以下" nzValue="高中及以下"></nz-option>-->
<!--        <nz-option nzLabel="大专" nzValue="大专"></nz-option>-->
<!--        <nz-option nzLabel="本科及以上" nzValue="本科及以上"></nz-option>-->
<!--      </nz-select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">邮箱</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="mail" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">专业</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="profession" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">工作年限</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="workYear" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">期望职位</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="exPosition" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">期望薪资</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="exSalary" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">期望城市</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="exCity" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">居住地</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="habitation" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">户籍地</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="houseLocation" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div class="left">工作单位</div>-->
<!--    <div class="right">-->
<!--      <input nz-input  [(ngModel)]="workUnit" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="con">-->
<!--    <div style="margin-top: 40px;float: right;margin-bottom: 50px;">-->
<!--      <button nz-button nzType="primary"  (click)="editResume()" >更新</button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="clear: both;"></div>-->
<!--</div>-->







