<div style="width: 80%;">

  <div style="margin-top: 20px;">
    <div>公司名称：</div>
    <input nz-input  [(ngModel)]="name"/>
  </div>
  <div style="margin-top: 20px;">
    <div>省：</div>
    <input nz-input  [(ngModel)]="province"/>
  </div>
  <div style="margin-top: 20px;">
    <div>市：</div>
    <input nz-input  [(ngModel)]="city"/>
  </div>
  <div style="margin-top: 20px;">
    <div>区：</div>
    <input nz-input  [(ngModel)]="area"/>
  </div>
  <div style="margin-top: 20px;">
    <div>详细地址：</div>
    <input nz-input  [(ngModel)]="address"/>
  </div>
  <div style="margin-top: 20px;">
    <div>手机号：</div>
    <input nz-input  [(ngModel)]="phone"/>
  </div>
  <div style="margin-top: 20px;">
    <div>公司性质：</div>
    <input nz-input  [(ngModel)]="nature"/>
  </div>

  <div style="margin-top: 20px;">
    <div>公司简介：</div>
    <ngx-neditor style="width: 100%;height: 300px;" [(ngModel)]="profile" #neditor
                 [config]="neditorConfig"></ngx-neditor>
  </div>

  <div style="margin-top: 20px;">
    <div>公司备注：</div>
    <textarea
      nz-input
      [(ngModel)]="remark"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
    ></textarea>
  </div>


  <div style="margin-top: 20px;">
    <div>联系人：</div>
    <input nz-input  [(ngModel)]="contact"/>
  </div>

  <div style="margin-top: 20px;">
    <div>微信号：</div>
    <input nz-input  [(ngModel)]="wxNumber"/>
  </div>

  <div style="margin-top: 20px;">
    <div>负责人：</div>
    <input nz-input  [(ngModel)]="leader"/>
  </div>


  <div style="margin-top: 20px">
    <button nz-button nzType="primary" (click)="addCompany()">添加</button>
  </div>
</div>
